<nav>
    <div class="nav-wrapper topnave">
        <a href="/" class="brand-logo center">Scraped News!</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="https://github.com/ajperkins92/all-the-news-fit-to-scrape" target="_blank">GitHub Repo</a></li>
        </ul>
    </div>
</nav>